{% extends 'portfolio/base.html' %}

{% block content %}
<h1>This is my portfolio</h1>

{% load static %}

<a href="{% url 'blog:all_blogs' %}">Blog</a>
<br>
<a href="{% static 'portfolio/beers_and_cocktails.pdf' %}">Resume</a>
<img src="{% static 'portfolio\tony.jpg' %}">

{% for project in projects %}

<h2>{{ project.title }}</h2>
<p>{{ project.description }}</p>
<img src="{{project.image.url}}" alt="">
{% if project.url %}
<a href="{{project.url}}">Link</a>
{% endif %}

{% endfor %}

{% endblock %}
